<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.covid_nutritionapp">

<uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Admin.MainAdmin" ></activity>
        <activity android:name=".Admin.AddForm" ></activity>
        <activity android:name=".Admin.EditForm"></activity>
        <activity android:name=".Client.MainClient"></activity>
        <activity android:name=".Client.ShowForm"></activity>
        <activity android:name=".Admin.ResultForm"></activity>
        <activity android:name=".Admin.Details_Res_Form"></activity>
        <activity android:name=".Client.Main_RegisterClient"></activity>
        <activity android:name=".Admin.Details_ResAnswers"></activity>
        <activity android:name=".Admin.Information_User"></activity>
        <activity android:name=".Admin.AdminMaster.MainAdminMaster"></activity>
        <activity android:name=".Admin.AdminMaster.Main_RegisterAdmin"></activity>

        <activity android:name=".Admin.AdminMaster.MainAddGroup"  android:theme="@style/AppTheme.CustomTheme" ></activity>
    </application>

</manifest>